@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  font-family: "Epilogue", sans-serif;
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

.title {
  color: #4038d9;
  font-weight: 900;
  font-size: 3.5em;
  line-height: 1.1;
  margin-bottom: 0.2em;
}

.quote {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Epilogue", sans-serif;
  line-height: 1.5;
  font-style: italic;
  font-size: x-large;
  font-weight: 600;
  padding: 0;
  min-height: 11.5em;
  max-height: 11.5em;
  height: 11.5em;
  width: 20em;
  overflow: auto;
}

.kanye {
  color: #4038d9;
  font-family: "Epilogue", sans-serif;
  margin-top: 0.31em;
}

.buttonBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button {
  color: #b2fcda;
  background-color: #4038d9;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.1em;
}

.tweet {
  margin-top: 1em;
  color: #b2fcda;
  background-color: #4038d9;
  border-radius: 50%;
  padding: 0.125em;
  
}

.tweet:hover {
  background-color: #407ed7;
}

@media (max-width: 480px) {
  .quote {
      width: -moz-fit-content;
  width: fit-content;
  }
}